.main_text{
    height: 450px;
    position: fixed;
    left: 0;
    top: 0;
    margin: auto;
    z-index: 2;
    text-align: center;
    width: 100%;
}
.main_text h1{
    position: relative;
    z-index: 1;
}
.main_text h1 img {
    width: 90%;
    transform: translateX(-40px);
}
.main_text p {
    position: relative;
    margin-top: -20px;
    font-size: 24px;
    z-index: 2;
}